<!DOCTYPE html>

<html lang='en'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>MAS SNe</title>
    {%load static%}
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    {% load bootstrap3 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  <script src="//d3js.org/d3.v4.min.js"></script>
    <link href="{% static 'layout.css'%}?{% now "U" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" />

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>


  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">MAS Supernovae</a>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li><a href="#">Hola, {{user.first_name}}</a></li>
        {% endif %}
        <li><a href="{% url 'add_sn' %}">Add a new SN</a></li>
        <li><a href="{% url 'add_project' %}">New project</a></li>
        <li><a href="{% url 'my_sne' %}">My SNe</a></li>
      </ul>
    </div>
  </nav>


<div class=container-fluid>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>
      {% block title %}
      {% endblock %}
    </h1>
    </div>
  </div>
</div>

{% block log%}{%endblock%}

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</div>
{% block plot %}

{%endblock %}

{% block table %}
{% endblock %}
  </body>
