{% extends 'layout.html'%}

{% block title %}{{sn.sn_name}} - Photometry{%endblock%}

{% block content %}

<form method="post" action="" id="id_photometryform">
  {% csrf_token%}
  {{form.as_p}}
  <button type="submit" id="id_formsubmitbutton">Submit</button>
</form>

<p>or upload a file</p>

<form enctype="multipart/form-data" method="post" action="" id="id_uploadphotometryform">
  {% csrf_token%}
  {% if uploadform.errors %}
  <div class="alert alert-danger">
  {{uploadform.errors.file.as_text}}
</div>
  {%endif%}
  {{uploadform.file}}
<button type="submit" id="id_uploadbutton">Submit</button>
</form>

<button id="id_plotbutton">Plot light curve</button>
<div class="LC" style="display: none"></div>


{% load django_tables2 %}
{% render_table table %}


{%include "modal.html" with sn_id=sn.id mode="photometry"%}

{%load static%}
<script type="text/javascript" src="{% static 'javascripts/plotLC.js'%}"></script>
<script type="text/javascript">
$("#id_plotbutton").on("click", function(){
  var url=window.location.pathname + "query/";
  $.get(url, function(data){
    data=JSON.parse(data);
    plotCurve(data);
  });
  console.log($(".LC").is(":visible"))
  if($(".LC").is(":visible")){
    $(".LC").hide();
  }
  else{
    $(".LC").show();

  }
})
</script>
{% endblock %}
