{% extends 'layout.html'%}

{% block title %}{{sn.sn_name}} - Photometry{%endblock%}

{% block content %}

<form method="post" action="" id="id_photometryform">
  {% csrf_token%}
  {{form.as_p}}
  <button type="submit" id="id_formsubmitbutton">Submit</button>
</form>

<p>or upload a file</p>

<form enctype="multipart/form-data" method="post" action="" id="id_uploadphotometryform">
  {% csrf_token%}
  {% if uploadform.errors %}
  <div class="alert alert-danger">
  {{uploadform.errors.file.as_text}}
</div>
  {%endif%}
  {{uploadform.file}}
<button type="submit" id="id_uploadbutton">Submit</button>
</form>


{% load django_tables2 %}
{% render_table table %}



{% endblock %}
