{% extends 'layout.html'%}

{% block title %}{{sn.sn_name}} - Spectroscopy{%endblock%}

{% block content %}

<form enctype="multipart/form-data" method="post" action="" id="id_uploadspectroscopyform">
  {% csrf_token%}
  {% if uploadform.errors %}
  <div class="alert alert-danger">
  {{uploadform.errors.file.as_text}}
</div>
  {%endif%}
  {{uploadform.MJD}}
  <p><i class="fa fa-question-circle-o" title="{{uploadform.file.help_text | safe}}"></i>  {{uploadform.file}} </p>

<button type="submit" id="id_uploadbutton">Submit</button>
</form>


{% endblock %}
