/*palette: http://colorpalettes.net/color-palette-1797/*/
/*font-awesome icon to png: http://fa2png.io/*/
body {
  text-align: center;
  font-size: 1.5em;
  color: #565656;
}

.navbar {
  background-color: #79ACA9;
}

.nav.navbar-nav.navbar-right li a {
    color: #d8d6d6;
    font-size: 1.5em;
}
.navbar-default .navbar-brand {
  color: #d8d6d6;
  font-size: 1.5em;
}

h1 {
  color: #e98167;
}

#id_new_sn_form {
  width: 50%;
  margin: 5% auto;
}

#id_new_sn_form label, input {
  display: inline-block;
}

#id_new_sn_form label {
  width: 20%;
  float: left;
  text-align: right;
}

#id_new_sn_form label +input {
    width: 61%;
    margin: 0 15% 0 2%;
}

#id_new_sn_form input+input {
  float: right;
}

/* table*/
.table-container {
  overflow-x: auto;
  margin: 5% auto;
  width: 120%;
}

table {
  display: inline-block;
  table-layout: fixed;
}

th, th >a {
  color: #e98167;
}

a:hover {
  color: #d8d6d6;
}

th, td {
  width: 60em;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.notes {
  width: 150em;
}

tr:nth-child(even) {background-color: #f2f2f2}


table thead th.orderable {
  background: url('images/sort_arrow_down_nonactive_15px.png') no-repeat center left 5px;
}
table thead th.asc {
  background: url('images/sort_arrow_up_active_15px.png') no-repeat center left 5px; }
table thead th.desc {
  background: url('images/sort_arrow_down_active_15px.png') no-repeat center left 5px; }
