/*palette: http://colorpalettes.net/color-palette-1797/*/
/*font-awesome icon to png: http://fa2png.io/*/
body {
  text-align: center;
  font-size: 1.5em;
  color: #565656;
  overflow-x: hidden;
}

.navbar {
  background-color: #79ACA9;
}

.nav.navbar-nav.navbar-right li a {
    color: #d8d6d6;
    font-size: 1.5em;
}
.navbar-default .navbar-brand {
  color: #d8d6d6;
  font-size: 1.5em;
}

h1 {
  color: #e98167;
}

/*New sn form*/

#id_new_sn_form, #id_obslogform, #id_photometryform, #id_uploadphotometryform, #id_uploadspectroscopyform {
  width: 60%;
  margin: 5% auto;
}

#id_new_sn_form label, input, #id_obslogform label, input, select, #id_photometryform label, input, #id_uploadphotometryform input, textarea, #id_uploadspectroscopyform label, input, textarea,i,input[type="file"] {
  display: inline-block;
}

#id_new_sn_form label, #id_obslogform label,  #id_photometryform label, #id_uploadphotometryform label, #id_uploadspectroscopyform label {
  width: 20%;
  float: left;
  text-align: right;
}

#id_new_sn_form label +input, #id_obslogform label + input, label+select, #id_photometryform label+input, #id_uploadphotometryform label+input, label+textarea, #id_uploadspectroscopyform label+input, label+textarea, label+input[type="file"] {
    width: 61%;
    margin: 0 15% 0 2%;
}



/* table*/
.table-container {
  margin: 3% auto;
  display: table;
  text-align: center;
}

table {
  width: 50%;
  margin: auto;
}

th, th >a {
  color: #e98167;
}

a:hover {
  color: #d8d6d6;
}

th, td {
  width: 60em;
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

.notes {
  width: 150em;
}

tr:nth-child(even) {background-color: #f2f2f2}


table thead th.orderable {
  background: url('images/sort_arrow_down_nonactive_15px.png') no-repeat center left 5px;
}
table thead th.asc {
  background: url('images/sort_arrow_up_active_15px.png') no-repeat center left 5px; }
table thead th.desc {
  background: url('images/sort_arrow_down_active_15px.png') no-repeat center left 5px; }

/*end table*/
/*LC plot*/
.LC, .SP {
  margin: 2% auto;
}
.LC svg, .SP svg{
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.32), 0 3px 12px 0 rgba(0, 0, 0, 0.24);
}

.tooltip{
  position: absolute;
  text-align: center;
  background-color: #79ACA9;
  color: white;
  border-radius: 2px;
  border: solid #79ACA9;
}

.axis text{
  font-size: 1.2em;
}
