{% extends 'SNe/layout.html'%}

{% block title %}<a href="{% url 'view_sn' sn.id %}">{{sn.sn_name}}</a>{%endblock%}

{%block log %}

{% include "SNe/logs.html" with sn_id=sn.id %}

{% endblock %}

{% block content %}

<form method="post" action="" id="id_photometryform">
  {% csrf_token%}
  {{form.as_p}}
  <button type="submit" id="id_formsubmitbutton">Submit</button>
</form>

<p>or upload a file</p>

<form enctype="multipart/form-data" method="post" action="" id="id_uploadphotometryform">
  {% csrf_token%}
  {% if uploadform.errors %}
  <div class="alert alert-danger">
  {{uploadform.errors.file.as_text}}
</div>
  {%endif%}
  <p><div class="popup" onclick="PopupFunction()"><i class="fa fa-question-circle-o"></i>
    <span class="popuptext" id="photometryhelp">
      <ul>
        <li>Only upload text files</li>
        <li>First line is the header, do not comment it out</li>
        <li>First column is MJD, then filter, error, filter, error ... Notes</li>
        <li>Possible filters currently: U, B, V, R, I, J, H, K, u, g, r, i, z</li>
        <li>Separator must be one space</li>
        <li>Mark missing data with NA</li>
        <li>Put notes in quotes</li>
        <li>Ask Kati for a sample file if you need!</li>
      </ul>
    </span> </div>
    {{uploadform.file}} </p>
<button type="submit" id="id_uploadbutton">Submit</button>
</form>
{%endblock%}

{% block plot %}
<button id="id_plotbutton">Plot light curve</button>
<div class="LC" style="display: none"></div>

{% endblock %}
{% block table %}
<button id="id_deleteselection" href="#confirmmodal" data-toggle="modal">Delete selected</button>
{% load django_tables2 %}
{% render_table table %}


{%include "SNe/modal.html" with sn_id=sn.id mode="photometry"%}

{%load static%}
<script type="text/javascript" src="{% static 'javascripts/plotLC.js'%}"></script>

{% endblock %}
