{% extends 'SNe/layout.html' %}

{% block title %}{{project.title}}{% endblock %}
{%block options%}<a href="{%url 'edit_project' project.id%}" title="Edit the details of this project"><i class="fa fa-pencil"></i></a>{%endblock%}
{% block content %}

<p><b>Description:</b> {{project.description}}</p>

<p><b>PI:</b> {{project.pi.first_name}} </p>

<div class=container-fluid>
  <div class="row">
    <div class="col-md-6">
      <h3>SNe</h3>
      <ul class="list-unstyled">
        {% for sn in project.sne.all %}
        <li><a href="{{sn.get_absolute_url}}">{{sn}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-md-6">
      <h3>Co-Is</h3>
      <ul class="list-unstyled">
        {% for coi in project.coinvestigators.all %}
        <li>{{coi.first_name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{%include "Comments/comments.html" with comments=project.comments.all form=commentform%}


{% endblock %}
