{% extends 'SNe/layout.html' %}

{% block title %}{{sn.sn_name}}{% endblock %}
{%block options%}<a href="{% url 'edit_sn' sn.id%}" title="Edit the details of this SN"><i class="fa fa-pencil"></i></a>{%endblock%}
{%block log %}

{% include "SNe/logs.html" with sn_id=sn.id %}

{% endblock %}

{% block content %}

<div class=container-fluid>
  <div class="row sndatarow">
    <div class="col-md-6 sndata_column">
      <ul class="list-unstyled sndatalist">
        <li><b>Type:</b> {{sn.sntype}}</li>
        <li><b>RA:</b> {{ra}}</li>
        <li><b>Dec:</b> {{dec}}</li>
        <li><b>Host:</b> {{sn.host}}</li>
        <li><b>z:</b> {{sn.z}}</li>
      </ul>
    </div>

    <div class="col-md-6 sndata_column">
      <ul class="list-unstyled sndatalist">
        <li><b>PI:</b> {{sn.pi.first_name}}</li>
        <li class="coili"><b>Co-Is: </b></li> <div class="coicolumn"><ul class="list-unstyled coilist">
          {% for coi in sn.coinvestigators.all %}
          <li> {{coi.first_name}}</li>
          {% endfor %}
        </ul></div>
      </ul>
  </div>
</div>




{%include "Comments/comments.html" with comments=sn.comments.all form=commentform%}

{% endblock %}
