{% extends 'SNe/layout.html' %}

{% block title %}{{sn.sn_name}}{% endblock %}
{%block options%}<a href="{% url 'edit_sn' sn.id%}" title="Edit the details of this SN"><i class="fa fa-pencil"></i></a> <a href="#confirm" data-toggle="modal" title="Archive this SN"><i class="fa fa-archive"></i></a>{%endblock%}
{%block log %}

{% include "SNe/logs.html" with sn_id=sn.id %}

{% endblock %}

{% block content %}

<div class=container-fluid>
  <div class="row sndatarow">
    <div class="col-md-6 sndata_column">
      <ul class="list-unstyled sndatalist">
        <li><b>Type:</b> {{sn.sntype}}</li>
        <li><b>RA:</b> {{ra}}</li>
        <li><b>Dec:</b> {{dec}}</li>
        <li><b>Host:</b> {{sn.host}}</li>
        <li><b>z:</b> {{sn.z}}</li>
      </ul>
    </div>

    <div class="col-md-6 sndata_column">
      <ul class="list-unstyled sndatalist">
        <li><b>PI:</b> {{sn.pi.first_name}}</li>
        <li class="coili"><b>Co-Is: </b></li> <div class="coicolumn"><ul class="list-unstyled coilist">
          {% for coi in sn.coinvestigators.all %}
          <li> {{coi.first_name}}</li>
          {% endfor %}
        </ul></div>
      </ul>
  </div>
</div>

<div id="confirm" class="modal fade" role=dialog>
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <h3>Are you sure you want archive this SN?</h3>
        <form method="POST" action="/sn/{{sn.id}}/archive/" id="id_deleteform">
          {%csrf_token%}
        <button type="submit" id="id_confirmbutton">OK</button></form>
        <a href="#" data-dismiss="modal" class="btn btn-default">Cancel</a>
      </div>
    </div>
  </div>

</div>


{%include "Comments/comments.html" with comments=sn.comments.all form=commentform%}

{% endblock %}
