{% extends 'SNe/layout.html'%}

{% block title %}<a href="{% url 'view_sn' sn.id %}">{{sn.sn_name}}</a>{%endblock%}

{%block log %}

{% include "SNe/logs.html" with sn_id=sn.id %}

{% endblock %}

{% block content %}

<form enctype="multipart/form-data" method="post" action="" id="id_uploadspectroscopyform">
  {% csrf_token%}
  {% if uploadform.errors %}
  <div class="alert alert-danger">
  {{uploadform.errors.file.as_text}}
</div>
  {%endif%}
  <p><label for="id_MJD">MJD:</label>{{uploadform.MJD}}</p>
  <p><label for="id_file">File:</label> <div> <i class="fa fa-question-circle-o" title="{{uploadform.file.help_text | safe}}"></i> {{uploadform.file}}</div>
  </p>
  <p><label for="id_notes">Notes:</label> {{uploadform.notes}}</p>
<button type="submit" id="id_uploadbutton">Submit</button>
</form>


{% endblock %}

{% block plot %}
<button id="id_plotbutton">Plot spectra</button>
<div class="SP" style="display: none"></div>

{% endblock %}


{% block table %}
<button id="id_deleteselection" href="#confirmmodal" data-toggle="modal">Delete selected</button>
{% load django_tables2 %}
{% render_table table %}

{%include "SNe/modal.html" with sn_id=sn.id mode="spectroscopy"%}

{%load static%}
<script type="text/javascript" src="{% static 'javascripts/plotSP.js'%}"></script>
<script type="text/javascript">
$("#id_plotbutton").on("click", function(){
  var url=window.location.pathname + "query/";
  $.get(url, function(data){
    data=JSON.parse(data);
    plotSpectrum(data);
  });

  if($(".SP").is(":visible")){
    $(".SP").hide();
    $(this).text("Plot spectra");
  }
  else{
    $(".SP").show();
    $(this).text("Hide spectra");
  }
})

function toggle(source) {
        checkboxes = document.getElementsByName('selection');
        for(var i in checkboxes)
            checkboxes[i].checked = source.checked;
};
</script>

{% endblock %}
